<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <table>
    <thead data-theme="dark">
    <tr>
      <th scope="col">번호</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">생성일</th>
      <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="levelup, stat : ${levelupList}">
      <td th:text="${stat.index + 1}"></td> <!-- Row number -->
      <td th:text="${levelup.title}"></td> <!-- Article subject -->
      <td th:text="${levelup.member.username}"></td> <!-- User ID (Ensure that the variable name is correct: 'userid' instead of 'Userid') -->
      <td th:text="${#temporals.format(levelup.createdDate, 'yyyy-MM-dd')}"></td> <!-- Creation date -->
    </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
</html>