<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <table>
    <thead data-theme="dark">
    <tr>
      <th scope="col">번호</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">생성일</th>
      <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="levelup, stat : ${levelupList}">
      <td th:text="${stat.index + 1}"></td> <!-- Row number -->
      <td><a th:href="@{|/levelup/detail/${levelup.id}|}" th:text="${levelup.title}">제목 없음</a></td> <!-- Article subject -->
      <td><a th:href="@{|/levelup/detail/${levelup.id}|}" th:text="${levelup.member.username}">작성자 없음</a></td> <!-- User ID (Ensure that the variable name is correct: 'userid' instead of 'Userid') -->
      <td th:text="${#temporals.format(levelup.createdDate, 'yyyy-MM-dd')}">날짜 없음</td>
      <td>0</td>
    </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  <a th:href="@{/levelup/create}" class="btn btn-primary"><button>글쓰기</button></a>
</div>
</html>