<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <table>
        <thead data-theme="dark">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">생성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">번호1</th>
            <td>제목1</td>
            <td>작성자</td>
            <td>생성일</td>
            <td>조회수</td>
        </tr>
        <tr>
            <th scope="row">번호2</th>
            <td>제목2</td>
            <td>작성자</td>
            <td>생성일</td>
            <td>조회수</td>
        </tr>
        <tr>
            <th scope="row">번호3</th>
            <td>제목3</td>
            <td>작성자</td>
            <td>생성일</td>
            <td>조회수</td>
        </tr>
        <tr>
            <th scope="row">번호4</th>
            <td>제목4</td>
            <td>작성자</td>
            <td>생성일</td>
            <td>조회수</td>
        </tr>
        <tr>
            <th scope="row">번호5</th>
            <td>제목5</td>
            <td>작성자</td>
            <td>생성일</td>
            <td>조회수</td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
</html>