<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <table>
        <thead data-theme="dark">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">생성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article, stat : ${articleList}">
            <td th:text="${stat.index + 1}"></td> <!-- Row number -->
            <td th:text="${article.title}">제목 없음</td> <!-- Article subject -->
            <td th:text="${article.member.username}">작성자 없음</td> <!-- User ID (Ensure that the variable name is correct: 'userid' instead of 'Userid') -->
            <td th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd')}">날짜 없음</td> <!-- Creation date -->
            <td th:text="${article.count}">0</td> <!-- View count -->
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
</html>