<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <table>
    <thead data-theme="dark">
    <tr>
      <th scope="col">번호</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">생성일</th>
      <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="quiz, stat : ${quizList}">
      <td th:text="${stat.index + 1}"></td>
      <td><a th:href="@{|/quiz/detail/${quiz.id}|}" th:text="${quiz.title}">제목 없음</a></td> <!-- Article subject -->
      <td><a th:href="@{|/quiz/detail/${quiz.id}|}" th:text="${quiz.member.username}">작성자 없음</a></td>
      <td th:text="${#temporals.format(quiz.createdDate, 'yyyy-MM-dd')}"></td>
      <td>0</td>
    </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  <a th:href="@{/quiz/create}" class="btn btn-primary"><button>글쓰기</button></a>
</div>
</html>