<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <title>📖 QnA 서비스</title>
</head>
    <body class="container">
        <header>
            <nav>
                <ul>
                    <li>
                        <h3>
                            <strong>
                                <a href="/">📖</a>
                            </strong>
                        </h3>
                    </li>
                </ul>
                <ul>
                    <li><a href="/article/list" class="contrast">QnA</a></li>
                    <li><a href="/quiz/list" class="contrast">퀴즈</a></li>
                    <li><a href="/levelup/list"class="contrast">등업</a></li>
                    <li><a href="/member/login"  sec:authorize="isAnonymous()" class="contrast">로그인</a></li>
                    <li><a href="/member/logout"  sec:authorize="isAuthenticated()" class="contrast">로그아웃</a></li>
                    <li><a href="/member/join" sec:authorize="isAnonymous()" class="contrast">회원가입</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <th:block layout:fragment="content"></th:block>
        </main>
        <footer>

        </footer>
    </body>
</html>