<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <title>QnA 서비스</title>
</head>
    <body class="container">
        <header>
            <nav>
                <ul>
                    <li><strong>QnA 서비스</strong></li>
                </ul>
                <ul>
                    <li><a href="/article/list" class="contrast">QnA</a></li>
                    <li><a href="/quiz/list" class="contrast">퀴즈</a></li>
                    <li><a href="/levelup/list" class="contrast">등업</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <th:block layout:fragment="content"></th:block>
        </main>
        <footer>
            info
        </footer>
    </body>
</html>